<header>
    <div class="container">
        <div class="logo">
            <a href="/index.html">
                <h1>Ansh Usrathe</h1>
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="#reports">Reports</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <div class="mobile-nav-toggle">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</header>