<div class="container">
    <div class="hero-content">
      <h1>Financial Research Reports & Valuation Models</h1>
      <p>This is my personal portfolio where I publish my independent research reports which are mostly sector analysis, equity research reports or market analysis reports. Here I also publish my Valuation models that are used in the industry for doing valuations. You can click on the buttons below to navigate to the desired sections!</p>
      <a href="#reports" class="btn btn-primary">Explore Reports &gt;</a>
      <a href="#featured" class="btn btn-secondary">View Financial Models</a>
    </div>
  </div>